<!DOCTYPE html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="theme/img/favicon.png" type="image/png">
	<title><%= title %></title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="theme/css/bootstrap.css">
	<link rel="stylesheet" href="theme/vendors/linericon/style.css">
	<link rel="stylesheet" href="theme/css/font-awesome.min.css">
	<link rel="stylesheet" href="theme/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="theme/css/magnific-popup.css">
	<link rel="stylesheet" href="theme/vendors/nice-select/css/nice-select.css">
	<!-- main css -->
	<link rel="stylesheet" href="theme/css/style.css">

	<!-- font awesome -->
	<script src="https://kit.fontawesome.com/4f04fd6ff4.js"></script>
</head>

<body>

	<% include partials/header.ejs %>

	<!--================ Content Area =================-->

	
	
	<!--================ Content Area End =================-->

	<% include partials/footer.ejs %>

</body>

</html>